<footer>
	<hr>
	<small>Built with: <a href="https://github.com">Github Pages</a>, <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>, <a href="http://lokeshdhakar.com/projects/lightbox2/">Lightbox2</a>, <a href="http://github.com/tbuser/thingiview.js">Thingiview.js</a>, <a href="https://github.com/k33g/gh3">gh3</a></small>, <a href="https://github.com/zachleat/Humane-Dates">Humane-Dates</a>, <a href="http://softwaremaniacs.org/playground/showdown-highlight/">Showdown</a>
</footer>